{% extends 'auth.base' %}

{% block title %}{{ trans('auth.forgot.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">{{ trans('auth.forgot.message') }}</p>
  {% if session_has('msg') %}
    <div class="alert alert-warning">
      {{ session_pull('msg') }}
    </div>
  {% endif %}
  <main></main>
{% endblock %}

{% block before_foot %}
  <script>
    Object.defineProperty(blessing, 'extra', {
      configurable: false,
      get: () => Object.freeze({{ extra|json_encode|raw }})
    })
  </script>
{% endblock %}
