<div class="mb-3 text-center">
  <div class="mb-1">- {{ trans('general.more') }} -</div>
  {% for name, provider in providers %}
    <a href="{{ url("/auth/login/#{name}") }}" class="btn btn-block bg-light border-secondary">
      <img src="{{ url("/app/brand-icons/#{provider.icon}.svg") }}" width="20">
      {{ provider.displayName }}
    </a>
  {% endfor %}
</div>
