{% extends 'errors.base' %}

{% block title %}404 Not Found{% endblock %}

{% block message %}
  <p>
    {{ trans('errors.exception.detail', {msg: exception.message ?: trans('errors.http.msg-404')}) }}
  </p>
{% endblock %}
