{% extends 'errors.base' %}

{% block title %}503 Service Unavailable{% endblock %}

{% block message %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
  <p>
    {{ trans('errors.exception.detail', {msg: exception.message ?: trans('errors.http.msg-503')}) }}
  </p>
  {% if not auth_check() %}
    <div class="mt-5">
      <a href="{{ url('/auth/login') }}" class="btn btn-primary">
        <i class="icon fas fa-sign-in-alt mr-1"></i>
        {{ trans('general.login') }}
      </a>
    </div>
  {% endif %}
{% endblock %}
