{% extends 'errors.base' %}

{% block title %}{{ trans('errors.general.title') }}{% endblock %}

{% block message %}
  <p>{{ message }}</p>
  <p>{{ trans('errors.exception.message')|nl2br }}</p>
{% endblock %}
