@import 'spectre.css/dist/spectre.css';
@import '@/fonts/minecraft.css';

body {
  height: 97vh;
}

.hero {
  align-items: center;
}

h1 {
  font-family: Minecraft;
}

a:hover {
  text-decoration: none;
}
