{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-optional-catch-binding"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" } }]
      ]
    }
  }
}
