{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": false,
      "loose": true
    }]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "regenerator": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": "current" },
          "ignoreBrowserslistConfig": true
        }]
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
