.git/
.github/
.vscode/
coverage/
node_modules/
plugins/**
public/app/*
public/lang/*
public/plugins/**
resources/assets/tests/
storage/debugbar
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/
storage/framework/views/**
storage/logs/**
storage/packages/**
storage/textures/*
tests/
tools/
vendor/
_ide_helper.php
.dockerignore
.editorconfig
.env
.env.testing
.eslintignore
.gitignore
.php_cs.*
.phpstorm.meta.php
.phpunit.result.cache
azure-pipelines.yml
crowdin.yml
docker-compose.yml
*.Dockerfile
index.html
phpunit.xml
README*.md
server.php
yarn-error.log
