<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension="." mimeType="image/png" />
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="rule 1I" stopProcessing="true">
					<match url="^([^/]*).json$"  />
					<action type="Rewrite" url="/get.php?type=json&amp;uname={R:1}"  />
				</rule>
				<rule name="rule 2I" stopProcessing="true">
					<match url="^(skin|cape)/([^/-]*)(|-)(|alex|steve).png$"  />
					<action type="Rewrite" url="/get.php?type={R:1}&amp;model={R:4}&amp;uname={R:2}"  />
				</rule>
				<rule name="rule 3I" stopProcessing="true">
					<match url="^(usm|csl)/([^/]*).json$"  />
					<action type="Rewrite" url="/get.php?type=json&amp;uname={R:2}&amp;api={R:1}"  />
				</rule>
				<rule name="rule 4I" stopProcessing="true">
					<match url="^(usm|csl)/textures/(.*)$"  />
					<action type="Rewrite" url="/textures/{R:2}"  />
				</rule>
				<rule name="rule 5I" stopProcessing="true">
					<match url="^avatar/(|[0-9]*/)([^/-]*).png$"  />
					<action type="Rewrite" url="/get.php?type=avatar&amp;uname={R:2}&amp;size={R:1}"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
