<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">{{ trans('admin.status.info') }}</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
        {% for category, info in detail %}
          <tr>
            <th colspan="2">{{ trans("admin.status.#{category}.name") }}</th>
          </tr>
          {% for key, value in info %}
            <tr>
              <td>{{ trans("admin.status.#{category}.#{key}") }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
