.box {
  cursor: default;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  width: 32%;
  @media (max-width: 1280px) {
    width: 47%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
  }
}

.content {
  max-width: 85%;
}

.actions {
  margin-top: -7px;

  a {
    transition-property: color;
    transition-duration: 0.3s;
    color: #000;
    &:hover {
      color: #999;
    }
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}

.description {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
