/*
* @Author: printempw
* @Date:   2016-07-10 17:17:07
* @Last Modified by:   printempw
* @Last Modified time: 2016-07-23 22:50:38
*/

@import "style.scss";

.navbar-nav {
    .user-menu .user-image {
        border-radius: 10%;
    }
}

.main-header #navbar-search-input.form-control {
    border-radius: 4px;
}

@media (min-width: 1200px) {
    .item {
        width: 250px;
    }

    .item-body > img {
        margin-left: 50px;
    }
}

.item-footer {
    a {
        color: #fff;
    }

    .like:hover,
    .liked {
        color: #e0353b;
    }
}

.model-label {
    font-weight: 500;
    font-size: 15px;
}

label.pull-right {
    font-weight: inherit;
}

div.likes {
    background-color: #fff;
    border-color: #fff;
    color: #3e3e3e;
    cursor: default;
}

div.likes:hover,
div.likes:active,
div.likes:focus,
div.likes:active:focus {
    background-color: #fff;
    border-color: #fff;
    color: #e0353b;
}

table {
    font-size: inherit;
}

.table > tbody > tr > td {
    border-top: none;
}
