/*
* @Author: printempw
* @Date:   2016-07-10 17:17:07
* @Last Modified by:   printempw
* @Last Modified time: 2016-07-24 13:14:58
*/

@import "style.scss";

.player {
    cursor: pointer;
}

.player-selected {
    background-color: #f5f5f5;
}

.box-title {
    a {
        color: #6d6d6d;
    }

    a.selected {
        color: #3c8dbc;
    }
}

.breadcrumb {
    a {
        margin-right: 10px;
        color: #444;
    }

    a:hover {
        color: #3c8dbc;
    }
}

.item-footer > .dropdown-menu {
    margin-left: 180px;
}

.empty-msg {
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}

.modal-body > label {
    margin-bottom: 10px;
}

#score {
    font-family: Minecraft;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    cursor: help;
}

.progress {
    margin-top: 4px;
}


