{% extends 'setup.base' %}

{% block subtitle %}{{ trans('setup.wizard.finish.title') }}{% endblock %}

{% block content %}
  <p>{{ trans('setup.wizard.finish.text') }}</p>
  <p>
    <a href="{{ url('/') }}" class="btn btn-primary">
      {{ trans('general.index') }}
    </a>
  </p>
{% endblock %}
