<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ trans('admin.index.overview') }}</h3>
  </div>
  <div class="card-body">
    <div class="chart" id="chart-users-registration"></div>
    <div class="chart" id="chart-textures-upload"></div>
  </div>
</div>
