.btn-group {
    .btn {
        margin-right: 10px;
    }
}

td {
    a {
        color: inherit;

        img {
            margin-left: 10px;
        }

        cursor: pointer;
    }

    a:first-child > img {
        margin-left: 0;
    }

    a:last-child > img {
        margin-left: 0;
    }
}

.description {
    margin: 7px 0 0 0;
    color: #555;

    a {
        color: #3c8dbc;
    }
}

.btn-edit {
    font-size: 12px;
    color: #367fa9;
}
