@import "general.styl";

.info-box {
    a {
        color: #333;
        font-size: 18px;
    }
}

.btn-group {
    .btn {
        margin-right: 10px;
    }
}

input.score {
    width: 100px !important;
}

td {
    a {
        color: inherit;

        img {
            margin-left: 10px;
        }

        cursor: pointer;
    }

    a:first-child > img {
        margin-left: 0;
    }

    a:last-child > img {
        margin-left: 0;
    }
}

.description {
    margin: 7px 0 0 0;
    color: #555;

    a {
        color: #3c8dbc;
    }
}

#plugin-table {
    .actions {
        margin-top: 5px;
        color: #ddd;
    }

    .plugin-version-author {
        color: #777;
        font-size: small;

        a {
            color: #337ab7;
        }
    }

    td {
        padding: 10px;
    }

    td:first-child {
        border-left: 3px solid transparent;
        white-space: nowrap;
    }

    .plugin-enabled {
        background-color: #f7fcfe;
    }

    .plugin-enabled td:first-child {
        border-left-color: #3c8dbc;
    }
}

#market-table {
    .btn {
        float: right;
    }

    td:first-child {
        white-space: nowrap;
    }

    .plugin-name {
        color: #777;
        font-size: small;
    }
}
