@import "general.styl";

.login-logo a, .register-logo a, .reset-logo a {
    font-family: Minecraft, Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
    transition: all .2s ease-in-out;
}

.login-logo a:hover, .register-logo a:hover, .reset-logo a:hover {
    color: #42a5f5;
}

#login-button {
    margin-top: 5px;
}
