font_stack = Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;

body, h1, h2, h3, h4, h5, h6, .logo {
    font-family: font_stack !important;
}

.swal2-modal, .swal2-content {
    font-family: font_stack;
    font-weight: 400 !important;
}

.swal2-modal h2 {
    font-size: 25px;
}
