<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">
      {{ trans('user.profile.avatar.title') }}
    </h3>
  </div>
  <div class="card-body">
    {{ trans('user.profile.avatar.notice')|raw }}
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" id="reset-avatar">
      {{ trans('user.profile.avatar.reset') }}
    </button>
  </div>
</div>
