@import "general.scss";

.info-box {
    a {
        color: #333;
        font-size: 18px;
    }
}

.btn-group {
    .btn {
        margin-right: 10px;
    }
}

input.score {
    width: 100px !important;
}

td {
    a {
        color: inherit;

        img {
            margin-left: 10px;
        }
    }

    a:first-child > img {
        margin-left: 0;
    }

    a:last-child > img {
        margin-left: 0;
    }
}

.description {
    margin: 7px 0 0 0;
    color: #555;

    a {
        color: #3c8dbc;
    }
}
