@import "general.scss";

.navbar-nav {
    .user-menu .user-image {
        border-radius: 10%;
    }
}

.main-header #navbar-search-input.form-control {
    border-radius: 4px;
}

@media (min-width: 1200px) {
    .item {
        width: 250px;
    }

    .item-body > img {
        margin-left: 50px;
    }

    .texture-name {
        width: 65%;
    }
}

.item-footer {
    a {
        color: #fff;
    }

    .like:hover,
    .liked {
        color: #e0353b;
    }
}

.model-label {
    font-weight: 500;
    font-size: 15px;
}

label.pull-right {
    font-weight: inherit;
}

div.likes {
    background-color: #fff;
    border-color: #fff;
    color: #3e3e3e;
    cursor: default;
}

div.likes:hover,
div.likes:active,
div.likes:focus,
div.likes:active:focus {
    background-color: #fff;
    border-color: #fff;
    color: #e0353b;
}

table {
    font-size: inherit;
}

.table > tbody > tr > td {
    border-top: none;
}

select.pagination {
    padding-left: 0;
    margin: 0 20px 0 0;
    border-radius: 4px;
    padding: 5.5px 14px;
}

.overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: 25px;
    color: #000;
    font-size: 20px;
}

#skinlib-container {
    min-height: 20em;
}

.private-label {
    margin-top: 2px;
}

.dropdown-menu .divider {
    margin: 3px 0;
}
