/*
* @Author: printempw
* @Date:   2016-02-04 16:47:54
* @Last Modified by:   printempw
* @Last Modified time: 2016-03-26 20:14:22
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body, .ply-layer {
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
}
.main-header .logo .logo-lg {
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
}
input {
    width: 100%;
    margin: 10px 0 20px;
}
input[type=checkbox] {
    width: initial;
    margin: 0;
    margin: 0 5px 0 5px;
}
label {
    display: block;
    margin: 6px 0;
}
.key {
    vertical-align: middle !important;
}
.value > input {
    margin: 0 !important;
}
td[class='key'], td[class='value'] {
    border-top: 0 !important;
}
.info-box > a {
    color: #333;
    font-size: 18px;
}
