/*
* @Author: prpr
* @Date:   2016-01-21 07:57:38
* @Last Modified by:   prpr
* @Last Modified time: 2016-01-21 18:20:11
*/

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.eot');
    src: url('../fonts/minecraft.eot') format('embedded-opentype'),
         url('../fonts/minecraft.woff2') format('woff2'),
         url('../fonts/minecraft.woff') format('woff'),
         url('../fonts/minecraft.ttf') format('truetype'),
         url('../fonts/minecraft.svg#minecraft') format('svg');
}

body {
    line-height: 1.7em;
    color: #fff;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-menu {
    padding: 0;
    /*padding: 0.3em 0.5em 0.3em 0.5em;*/
    text-align: center;
    /*border: 1px solid transparent;*/
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    /* for firefox */
    white-space: normal;
}

.home-menu .pure-menu-heading {
    color: #5e5e5e;
    font-weight: 400;
    font-size: 18px;
    font-family: Minecraft;
    text-transform: none;
}
.pure-menu-heading:hover {
    color: #444;
}

.home-menu .pure-menu-selected a {
    color: #5e5e5e;
}

.home-menu a {
    color: #fff;
    font-size: 15px;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
    background: none;
    border: none;
    color: #0078e7 !important;
}
.pure-button {
    margin: .5em 1em;
}
.home-menu-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.home-menu-wrp {
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}
.home-menu-bg {
    background-image: url("http://ww4.sinaimg.cn/large/823186a6gw1enwts09sbrj21hc0u016u.jpg");
    background-position: center 0;
    background-size: auto 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
}

.container {
    background-image:
        url("http://ww4.sinaimg.cn/large/823186a6gw1enwts09sbrj21hc0u016u.jpg");
    /* background-size: cover; */
    background-size: auto 800px;
    background-repeat: no-repeat;
    background-position: center 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 1em 0.5em;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0.2em 0 0.5em;
    font-family: Minecraft;
    text-shadow:
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

.splash-subhead {
    letter-spacing: 0.05em;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
}

.container .pure-button {
    color: white;
    padding: 0.8em 2.5em;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 120%;
    transition: color 0.25s ease-in-out,
                border-color 0.25s ease-in-out,
                background-color 0.25s ease-in-out;
}

.container .pure-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/*.container a.pure-button-primary {

}*/

.footer {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 93%;
    text-align: center;
    letter-spacing: 0.05em;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: #1f8dd6;
}

/* Mobile phone */
@media (max-width: 48em) {
    .home-menu .pure-menu-selected a {
        display: none;
    }
    /*.home-menu-bg {
        background-size: inherit;
        background-position-x: center;
    }*/
    .splash-head {
        font-size: 200%;
    }
    .splash {
        width: 100%;
        height: 50%;
    }
    /*.splash-subhead {
        font-size: 200%;
    }*/
}


@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 80%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}

@media (min-height: 800px) {
    .home-menu-bg,
    .container {
        background-size: cover;
    }
}
.pure-form {
    margin: 10px auto;
    width: 40%;
}
.pure-input {
    margin: 10px 0;
    width: 100%;
}
#keep-label {
    float: left;
}
#login-button {
    float: right;
    margin: .5em 0;
}
#register-button {
    margin: .5em 0;
    width: 100%;
    float: left;
}
#msg {
    width: 40%;
    margin: 3.5em auto 0;
}
