/*
* @Author: prpr
* @Date:   2016-01-21 07:57:38
* @Last Modified by:   prpr
* @Last Modified time: 2016-01-21 20:33:40
*/

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.eot');
    src: url('../fonts/minecraft.eot') format('embedded-opentype'),
         url('../fonts/minecraft.woff2') format('woff2'),
         url('../fonts/minecraft.woff') format('woff'),
         url('../fonts/minecraft.ttf') format('truetype'),
         url('../fonts/minecraft.svg#minecraft') format('svg');
}

html {
    line-height: 1.7em;
    color: #fff;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-menu {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    /* for firefox */
    white-space: normal;
}
.home-menu .pure-menu-heading {
    color: #5e5e5e;
    font-weight: 400;
    font-size: 18px;
    font-family: Minecraft;
    text-transform: none;
}
.pure-menu-heading:hover {
    color: #444;
}
.home-menu a {
    color: #fff;
    font-size: 15px;
}
.pure-menu-selected {
    font-weight: bold;
}
.pure-menu-link {
    color: #5e5e5e !important;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
    background: none;
    border: none;
    color: #0078e7 !important;
}
.pure-button {
    margin: .5em 1em;
}

.container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.footer {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 93%;
    text-align: center;
    letter-spacing: 0.05em;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer a:hover {
    color: #1f8dd6;
}

/* Mobile phone */
@media (max-width: 48em) {
    .home-menu .pure-menu-selected a {
        display: none;
    }
}


@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

}

@media (min-width: 78em) {
}
