/*
* @Author: prpr
* @Date:   2016-01-21 07:57:38
* @Last Modified by:   prpr
* @Last Modified time: 2016-02-10 20:32:32
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.eot');
    src: url('../fonts/minecraft.eot') format('embedded-opentype'),
         url('../fonts/minecraft.woff2') format('woff2'),
         url('../fonts/minecraft.woff') format('woff'),
         url('../fonts/minecraft.ttf') format('truetype'),
         url('../fonts/minecraft.svg#minecraft') format('svg');
}

html {
    line-height: 1.7em;
    color: #fff;
    font-size: 13px;
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
}

p {
    margin: 10px 0;
}

.home-menu {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    /* for firefox */
    white-space: normal;
}
.home-menu .pure-menu-heading {
    color: #5e5e5e;
    font-weight: 400;
    font-size: 18px;
    font-family: Minecraft;
    text-transform: none;
}
.pure-menu-heading:hover {
    color: #444;
}
.home-menu button {
    color: #fff;
    font-size: 15px;
}
.pure-menu-selected {
    font-weight: bold;
}
.pure-menu-item {
    color: #5e5e5e !important;
}
.pure-menu-link {
    display: inline-block;
    color: #5e5e5e !important;
    font-size: 15px;
    cursor: pointer;
    padding: .5em .5em;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
    background: none;
    border: none;
    color: #0078e7 !important;
}
.pure-button {
    margin: .5em 1em;
}
.pure-button-error {
    background: rgb(202, 60, 60);
    color: #fff;
}
.pure-button-warning {
    background: #ec971f;
    color: #fff;
}
.container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.footer {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 93%;
    text-align: center;
    letter-spacing: 0.05em;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer a:hover {
    color: #1f8dd6;
}

/* Mobile phone */
@media (max-width: 48em) {
    .home-menu .pure-menu-selected a {
        display: none;
    }
}


@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 90%;
    margin: 0 auto 20px;
}

.panel-default {
    border-color: #ddd!important;
}
.panel-danger {
    border-color: #ebccd1!important;
}
.panel-warning {
    border-color: #faebcc;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 10px 15px 15px;
}
.pure-g:first-child {
    margin-top: 75px;
}
.pure-g {
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
}
@media screen and (max-width: 40em) {
    .pure-g:first-child {
        margin-top: 100px;
    }
}
.ply-layer {
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif !important;
}
