@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.eot');
    src: url('../fonts/minecraft.eot') format('embedded-opentype'),
         url('../fonts/minecraft.woff2') format('woff2'),
         url('../fonts/minecraft.woff') format('woff'),
         url('../fonts/minecraft.ttf') format('truetype'),
         url('../fonts/minecraft.svg#minecraft') format('svg');
}

body {
    background-image: url(../images/bg_stone.png);
    background-repeat: repeat;
}

.copy {
    color: #FFFFFF;
}

img.l {
    width: 44%;
    margin-left: 10%;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: rgba(255,255,255,.9);
    border-color: transparent;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
}

.l {
    float: left;
}

.r {
    float: right;
    margin-top: 20px;
}

.login-container, .upload-container {
    margin-top: 8%;
    margin-right: 10%;
    border: #989898 1px solid;
    border-radius: 4px;
    width: 300px;
    padding: 40px 40px 40px 40px;
    background: rgba(255,255,255,.9);
}

.input-group {
    margin: 20px 0 20px 0;
}

.login-group {
    height: 40px;
}

div .keep {
    float: left;
}

#login {
    float: right;
}

#login-form {
    margin-top: 10px;
}

.login-title, .upload-title {
    font-family: Minecraft;
    margin: 5px 0 30px 0;
}

.checkbox-wrapper {
    float: left;
    position: relative;
    top: 15%;
}

.checkbox {
    display: none;
}

label {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #e5e6e7;
    margin-bottom: -3px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
}

.checkbox:checked+label {
    background: url(../images/check.png);
}

footer {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    top: 95%;
}

.hide {
    display: none;
}

.alert {
    margin-bottom: 0px;
    margin-top: 10px;
}

#canvas3d {
    margin-left: 30%;
}