/*
* @Author: printempw
* @Date:   2016-01-21 19:12:06
* @Last Modified by:   printempw
* @Last Modified time: 2016-03-19 11:42:00
*/

@import url(https://cdn.moefont.com/fonts/css?family=Ubuntu);
body {
    font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
}
#canvas3d {
    margin: 0 auto;
    display: block;
}
.operations {
    display: inline;
    float: right;
}
.operations > i {
    padding: .5em .5em;
    display: inline !important;
}
.operations > i:hover {
    color: #555;
    cursor: pointer;
}
#preview-2d > p {
    height: 64px;
    line-height: 64px;
}
.skin2d {
    float: right;
    max-height: 64px;
    width: 64px;
}
.box-title {
    width: 100%;
}
.callout {
    border-radius: 3px;
    margin: 10px 0 0 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
