{% extends 'setup.base' %}

{% block subtitle %}{{ trans('setup.locked.title') }}{% endblock %}

{% block content %}
  <p>{{ trans('setup.locked.text') }}</p>
  <p>
    <a href="{{ url('/') }}" class="btn btn-primary">
      {{ trans('setup.locked.button') }}
    </a>
  </p>
{% endblock %}
