{% extends 'auth.base' %}

{% block title %}{{ trans('user.player.bind.title') }}{% endblock %}

{% block content %}
  <p class="login-box-msg">
    <b>{{ trans('user.player.bind.title') }}</b>
  </p>
  <form></form>
{% endblock %}
