{% extends 'user.base' %}

{% block title %}{{ trans('general.my-closet') }}{% endblock %}

{% block content %}
  {{ include('shared.grid') }}

  <div id="modals"></div>
{% endblock %}

{% block before_foot %}
  <script id="blessing-extra" type="application/json">
    {{ extra|json_encode|raw }}
  </script>
{% endblock %}
