@use '../styles/breakpoints';

.body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.viewer {
  @include breakpoints.greater-than('lg') {
    min-height: 500px;
  }

  canvas {
    cursor: move;
  }
}

.actions i {
  display: inline;
  padding: 0.5em 0.5em;
  &:hover {
    color: #555;
    cursor: pointer;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
