{% extends 'admin.base' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="card card-secondary">
    <div class="card-header">
      <h3 class="card-title">{{ trans('admin.plugins.readme') }}</h3>
    </div>
    <div class="card-body">{{ content|raw }}</div>
    <div class="card-footer">
      <button class="btn bg-primary" onclick="history.back()">
        {{ trans('general.back') }}
      </button>
    </div>
  </div>
{% endblock %}
