@use '../../../styles/utils';

.item {
  width: 235px;
  transition-property: box-shadow;
  transition-duration: 0.3s;

  &:hover {
    cursor: pointer;
  }
}

.icon:hover {
  color: #000;
}

.bg {
  background-color: #eff1f0;
}

.truncate {
  @include utils.truncate-text;
}
