.login-logo a
  font-family Minecraft, Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif
  transition all 0.2s ease-in-out
  &:hover
    color #42a5f5

.captcha
  cursor pointer

.auth-btn.el-button
  width 100%
