@import './auth'
@import './admin'

@font-face
  font-family 'Minecraft'
  src url('../fonts/minecraft.woff2') format('woff2'), url('../fonts/minecraft.woff') format('woff')

.brand-link, .navbar-brand
  font-family Minecraft

.key
  vertical-align middle

.value
  width 70%

.table > tbody > tr
  td.value, td.key
    border-top 0

  @media (max-width: 768px)
    td.value, td.key
      display block

    td.value
      width 90%

.breadcrumb
  font-size 14px

.user-panel .info
  cursor default

.alert-toast
  position fixed
  right calc((100% - 350px) / 2)
  width 350px
  z-index 1050
  transition-property top
  transition-duration 0.3s
  .alert
    box-shadow 0 .25rem .75rem rgba(0,0,0,.1)
