@import './auth'
@import './admin'

@font-face
  font-family 'Minecraft'
  src url('../fonts/minecraft.woff2') format('woff2'), url('../fonts/minecraft.woff') format('woff')

.brand-link, .navbar-brand
  font-family Minecraft

.breadcrumb
  font-size 14px

.user-panel .info
  cursor default
