.dropdown-item {
  &:hover, &:focus {
    color: #fff;
    background-color: var(--blue);
  }

  &.dropdown-item-danger {
    color: var(--danger);

    &:hover, &:focus {
      color: #fff;
      background-color: var(--danger);
    }
  }
}
