body
  font-size 16px

.layout-top-nav > .hp-wrapper
  background-color #eaeaea
  // background image settings
  background-size cover
  background-repeat no-repeat
  background-position center 0

  .main-header
    .navbar
      transition color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out

      .user-menu .user-image
        border-radius 10%

      .navbar-custom-menu .navbar-nav > li
        a.btn.btn-login
          background-color transparent
          border-radius 5px
          border 1px solid #fff
          color #fff !important
          margin-top 7px
          margin-left 10px
          padding 8px 20px
          transition border-color 0.25s ease-in-out, background-color 0.3s ease-in-out

        a.btn.btn-login:hover, a.btn.btn-login:focus
          background-color #006acc !important

        li.locale
          a
            color #777
          a:hover
            background-color #e1e3e9
            color #333

    .navbar-brand
      font-family Minecraft, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif
      border-right 0

  .main-header.transparent
    .navbar-brand
      color #5e5e5e

    .navbar-header > a
      color #5e5e5e

    .navbar
      background-color rgba(255, 255, 255, 0.2)

      .navbar-nav
        li
          a
            border 0
            color #5e5e5e

          a:hover
            background rgba(0, 0, 0, 0.1)
            color #f6f6f6

          .active > a
            background rgba(0, 0, 0, 0.1)
            color #f6f6f6

      .user-menu li
        a.btn
          border 1px solid #ddd
          color #5e5e5e

        a:hover
          background-color transparent

        a.btn:hover
          background-color #e7e7e7
          border-color #adadad

      .navbar-custom-menu .navbar-nav > li
        a.btn.btn-login
          background-color #0078e7
          border 1px solid #0078e7

    .nickname
      color #5e5e5e

  .content-wrapper
    background-color transparent
    border none

  .main-footer
    background-color transparent
    border none

    div
      color #fff !important

      a
        color #fff !important

.splash-button
  color white
  padding 0.8em 2.5em
  border-radius 5px
  background transparent
  border 1px solid #fff
  font-size 18px
  transition color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out

.splash-button:hover
  background-color rgba(255, 255, 255, 0.2)
  color #fff
  text-decoration blink

.splash
  width 80%
  height 50%
  margin auto
  position absolute
  top 100px
  left 0
  bottom 0
  right 0
  text-align center

.splash-head
  font-size 20px
  font-weight bold
  color white
  padding 0.8em 0.5em 1em
  font-weight 100
  line-height 1.5em
  margin 0.2em 0 0.5em
  font-family Minecraft, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif !important
  text-shadow 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1)

.splash-subhead
  font-size 16px
  letter-spacing 0.05em
  margin-bottom 3em
  color #fff
  font-family Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif

/* Mobile phone */
@media (max-width: 48em)
  .splash-head
    font-size 200%

  .splash
    width 100%
    height 50%

@media (min-width: 48em)
  .splash
    width 80%
    height 50%

  .splash-head
    font-size 250%

@media (min-width: 64em)
  .splash-head
    font-size 300%

.container .button
  color white
  padding 0.8em 2.5em
  border-radius 5px
  background transparent
  border 1px solid #fff
  font-size 120%
  transition color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out

.container .button:hover
  background-color rgba(255, 255, 255, 0.2)

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

.hp-wrapper
  width 100%

/* ==========================================================================
Wrap Sections
========================================================================== */
/* intro Wrap */
#intro
  padding 50px 0 50px
  border-top #bdc3c7 solid 5px

  i
    font-size 80px

  .col-lg-4
    margin 10px 0 50px

  @media (min-width: 1200px)
    .col-lg-4
      margin 10px 0 20px

#footerwrap
  background-color #2f2f2f
  color white
  padding 40px 0 50px
  text-align left

  .col-lg-6:last-child
    text-align center
    padding-top 50px

  @media (min-width: 1200px)
    .col-lg-6:last-child
      text-align right
      padding-top 20px

/* Copyright Wrap */
#copyright
  background #222222
  padding 16px 0 20px
  color white
