{% extends 'skinlib.base' %}

{% block title %}{{ trans('skinlib.upload.title') }}{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>{{ block('title') }}</h1>
      </section>
      <section class="content"></section>
    </div>
  </div>
{% endblock %}

{% block before_foot %}
  <script>
    blessing.extra = {{ extra|json_encode|raw }}
  </script>
{% endblock %}
