{% extends 'skinlib.base' %}

{% block title %}{{ trans('skinlib.upload.title') }}{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <div class="content-header">
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap">
            <div>
              <h1 class="m-0">{{ block('title') }}</h1>
            </div>
            <div>
              <div class="breadcrumb"></div>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          {{ include('shared.grid') }}
        </div>
      </section>
    </div>
  </div>
{% endblock %}

{% block before_foot %}
  <script id="blessing-extra" type="application/json">
    {{ extra|json_encode|raw }}
  </script>
{% endblock %}
